src/lib/object/
src/test/func-test/object/
src/test/pool_test/object/
src/test/smoke-test/object/
src/test/unit-test/object/
src/tools/object/
src/test/*/*.xml
src/test/unit-test/mdbm_fcopy

redhat/build
redhat/mdbm.spec
redhat/mdbm*.tar

src/java/target
src/java/object
src/java/.classpath
src/java/.project
src/java/.settings

gendoc/man

*.swp
*.swo

