src/lib/object/
src/test/func-test/object/
src/test/pool_test/object/
src/test/smoke-test/object/
src/test/unit-test/object/
src/tools/object/
src/test/*/*.xml
src/test/unit-test/mdbm_fcopy

redhat/build
redhat/mdbm.spec
redhat/mdbm*.tar

src/java/target
src/java/object
src/java/.classpath
src/java/.project
src/java/.settings

gendoc/man

*.swp
*.swo

GPATH
GRTAGS
GTAGS

src/perl/*.o
src/perl/MDBM_File.bs
src/perl/MDBM_File.c
src/perl/MYMETA.json
src/perl/MYMETA.yml
src/perl/Makefile
src/perl/Makefile.old
src/perl/blib/
src/perl/object/
src/perl/pm_to_blib
